Consider the grades dataset provided in file D2_Grades_Dataset.csv.
 This dataset contains grades scored by some old batches in CIS Department in NEDUET.
 The data has been made anonymous by using fictitious values for 'Seat Numbers'.
 First column contains these fictitious ‘Seat No.’.
 Next 41 columns show the grades of students in 41 different courses, while last column shows the CGPA.
 Although the CGPA is calculated from the grades and course credit hours information, but since credit hours are
not mentioned here, let us try predicting the CGPA from grades directly, after making the machine learn from this
dataset. For now we will just preprocess the dataset; will use the resulting dataset in some training problem later.
a. Identify irrelevant attributes and remove them.
b. Check for missing values and suggest methods to fix them.
c. Which encoding technique would be most suitable to encode grades of the courses? Use it to convert the
categorical columns into numeric ones.

In [ ]:
import pandas as pd

In [ ]:
d=pd.read_csv('D:/ML-Hands-On/Datasets/D2_Grades_Dataset.csv')
d

In [ ]:
d = d.drop(columns=['CGPA','Seat No.'])
d

In [ ]:
print(d.columns.tolist())

In [ ]:
print(d.info())

b. for missing values one strategy could be 
Mode imputation:: Replace missing grades with the most common grade in the column.

or we can also use median Imputation if grades are mapped in numerical order.

In [ ]:
for col in d.columns[:]:  
    d[col].fillna(d[col].mode()[0], inplace=True)

In [ ]:
d.info()

c.
Ordinal Encoding is preferred here as the grades have an inherent order .
In order to preserve the order of grades we can map grade to corresponding actual gpa values.

In [27]:
grade_map = {'A+': 4.0, 'A': 4.0, 'A-': 3.7,'B+': 3.3, 'B': 3.0, 'B-': 2.7,'C+': 2.3, 'C': 2.0, 'C-': 1.7,'D+': 1.3, 'D': 1.0, 'F': 0.0}

In [28]:
d= d.replace(grade_map)

C:\Users\CloudJunction\AppData\Local\Temp\ipykernel_25344\1597550108.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  d= d.replace(grade_map)

In [29]:
d

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,2.7,1.3,1.7,2.0,1.7,1.3,1.0,1.7,2.7,1.7,...,2.0,1.7,1.7,1.7,1.7,3.7,4.0,1.7,3.0,3.7
1,4.0,1.0,1.3,1.0,2.7,2.0,1.0,4.0,1.3,1.0,...,1.0,1.3,1.0,2.0,1.0,3.7,2.7,2.0,2.0,3.0
2,4.0,3.0,4.0,2.7,3.3,4.0,2.7,3.3,3.7,3.7,...,3.7,3.0,3.0,4.0,2.0,4.0,4.0,4.0,3.7,4.0
3,1.0,2.3,1.3,1.0,1.0,3.7,1.3,1.7,1.0,2.3,...,1.7,1.3,2.0,1.3,1.7,2.7,3.0,2.3,2.3,2.3
4,3.7,3.7,3.7,3.3,4.0,4.0,3.7,3.3,4.0,3.7,...,3.7,2.7,3.3,3.3,2.7,3.7,4.0,3.7,3.7,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,3.0,4.0,4.0,3.7,4.0,4.0,3.7,3.7,4.0,3.3,...,3.3,3.7,3.7,4.0,4.0,4.0,3.3,3.3,3.0,4.0
567,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.7,4.0,4.0,...,3.7,3.3,3.3,4.0,4.0,3.7,3.0,3.7,2.0,3.7
568,3.0,4.0,3.7,3.3,4.0,4.0,4.0,4.0,4.0,3.0,...,3.3,3.7,3.0,4.0,3.3,4.0,2.0,3.3,3.7,3.7
569,4.0,3.3,1.0,4.0,1.0,1.3,2.7,1.7,2.7,1.7,...,3.3,1.0,3.0,3.0,1.7,1.0,2.0,3.0,2.7,2.0
570,2.0,1.0,1.0,2.0,2.0,1.3,3.0,2.3,2.0,1.3,...,1.3,2.3,2.0,2.7,1.0,0.0,1.7,3.3,1.0,1.7

In [30]:
d.to_csv('D2_Grades_pp.csv')